* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
    --green-dark: #065E7C;
    --green-light: #387E96;
    --white-background: #F4FCFF;
    --text-black: #121214;
    --title-black: #202024;

    font-family: "Mulish", "sans-serif";
}

body {
    background-color: var(--white-background);
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}

#app {
    margin: 0 auto;
    height: 100vh;
}

header {
    background-color: var(--green-dark);
    grid-area: header;
    gap: 2.55rem;
    display: flex;
    width: 100vw;
    padding: 1.2rem 2.8rem;
    height: 7.2rem;
    align-items: center;
    align-content: center;
}

#logo {
    background: var(--white-background);
    shape-outside: circle();
    clip-path: circle();
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
}

#logo img {
    height: 2.087rem;
    width: 2.4rem;

}

.search-bar {
    width: 100%;
}

.search-bar label {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

#pesquisar {
    grid-area: search;
    width: 100%;
    border-radius: 4px;
    padding: 1.2rem 1.6rem 1.2rem 1.4rem;
    align-items: center;
    background: rgba(255, 255, 255, 0.20);
    border: none;
    font-weight: 600;
}

.search-bar input::placeholder {
    opacity: 1;
    color: white;
}

#avatar {
    grid-area: avatar;
}

main {
    grid-area: main;
    display: grid;
    grid-template-areas:
        "main-article"
        "related-articles";
    width: 100vw;
    gap: 3.4rem;
    overflow: scroll;
}

.main-article {
    grid-area: main-article;
    grid-template-areas:
        "img"
        "title"
        "text";
    width: 100%;
}

.main-article img:first-child {
    width: 100%;
}

#title {
    display: grid;
    grid-template-areas: "title" "action";
    height: 8.6rem;
    align-items: center;
    justify-content: start;
    margin: 3.1rem 2.2rem;
}

#title h2 {
    grid-area: title;
    color: var(--title-black);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 160%;
}

#action {
    display: grid;
    width: fit-content;
    gap: 1.2rem;
    grid-area: action;
    justify-content: center;
    grid-template-areas: "thumb-up thumb-down";
}

.thumbs {
    display: grid;
    width: 4rem;
    height: 4rem;
    background-color: var(--green-dark);
    border-radius: 999.9rem;
    gap: 1rem;
    padding: 1.2rem;
}

#thumb-up {
    grid-area: thumb-up;
}

#thumb-down {
    grid-area: thumb-down;
}

.thumbs img {
    width: 1.6rem;
    height: 1.6rem;
}

.article-text {
    margin: 0 2.2rem;
}

.article-text p {
    color: var(--text-black);
    font-size: 1.6rem;
    line-height: 160%;
}

.related-articles {
    grid-area: related-articles;
    margin: 0 2.2rem;
    gap: 3.2rem;
    display: grid;
    margin: 0 auto;
}
.related-articles h2 {
    font-size: 2.4rem;
    color: var(--title-black);
    font-weight: 700;
}

.article-preview {
    display: grid;
    grid-template-columns: 15.1rem 21.5rem;
    gap: 1.6rem;
    height: 8.4rem;
    width: 38.2rem;
}

.preview-text {
    display: grid;
    line-height: 160%;
    gap: 1.3rem;
}
.preview-text h3 {
    font-size: 1.8rem;
    color: var(--title-black);
    font-weight: 700;
}

.preview-text p {
    color: var(--text-black);
    font-size: 1.4rem;
    font-weight: 400;
}

footer {
    background-color: var(--green-light);
    grid-area: footer;
    margin-top: 3.9rem;
    padding: 1.6rem;
    text-align: center;
    font-weight: 600;
    color: white;
    align-self: stretch;
}

@media (min-width: 63rem) {

    main {
            grid-area: main;
            display: grid;
            grid-template-areas:
                "main-article related-articles";
            width: 100%;
            max-width: 122rem;
            max-height: 100vh;
            gap: 3.4rem;
            overflow: scroll;
            margin: 4.4rem auto 3.9rem;
        }
}